<section class="content admin">
    <div class="content-wrapper">
        <p><%= url %></p>
        <div class="user">
            <img src="" id="user-img">
            <span id="user-name"></span>
        </div>

        <ul class="voting-results">
            <li>
                <span class="question">Fake Question?</span>
                <span class="votes flt-r">1</span>
            </li>
            <li>
                <span class="question">Fake Question?</span>
                <span class="votes flt-r">1</span>
            </li>
            <li>
                <span class="question">Fake Question?</span>
                <span class="votes flt-r">1</span>
            </li>
            <li>
                <span class="question">Fake Question?</span>
                <span class="votes flt-r">1</span>
            </li>
        </ul>

        <a href="javascript:;" id="new-user"><p class="add-button spanbutton">New user</p></a>
        <!-- <a href="javascript:;" id="end-voting"><p class="add-button spanbutton">End Voting</p></a> -->
        <div class="clearfix"></div>
    </div>
</section>