<section class="content admin">
    <div class="content-wrapper">
        <h2 class="join-url">Join the game at: <strong><%= url %></strong></h2>
        <div class="user">
            <img src="" id="user-img"><br>
            <span id="user-name"></span>
        </div>

        <ul class="voting-results">
        </ul>

        <a href="javascript:;" id="new-user"><p class="spanbutton">Next Player</p></a>
        <!-- <a href="javascript:;" id="end-voting"><p class="add-button spanbutton">End Voting</p></a> -->
        <div class="clearfix"></div>
    </div>
</section>