<section class="content index">
  <div class="content-wrapper">
    <div class="hero">
      <h2>Welcome to the question game!</h2>

      <p>Do you have a deep, philosophical question you'd like one of us to answer? You're in the right place. Give us your best questions, or join the game for a chance to get picked by the magic question brainmaster.</p>
    </div>
    <ul class="links">
      <li><a href="#">Join the game</a></li>
      <li><a href="#">Submit a question</a></li>
    </ul>
  </div>
</section>