<div class="index">
  <div class="tabs-wrapper">
    <div class="tabs sizer">
      <a href="javascript:;" class="tab selected">Vote</a>
      <a href="javascript:;" class="tab">Add Question</a>
    </div>
  </div>

  <div class="main-wrapper sizer">

    <div class="hello">Hello, <strong>Daniel Wolf</strong></div>

    <section class="section-vote">
      <div class="card">
        <p class="content">Pellentesque egestas neque sit amet, Donec interdum metus et hendrerit, Pellentesque habitant morbi tristique senectus?</p>
        <p class="meta">Asked By: Daniel Wolf</p>
      </div>
      <div class="card selected">
        <p class="content">Pellentesque egestas neque sit amet, Donec interdum metus et hendrerit, Pellentesque habitant morbi tristique senectus?</p>
        <p class="meta">Asked By: Daniel Wolf</p>
      </div>
      <div class="card">
        <p class="content">Pellentesque egestas neque sit amet, Donec interdum metus et hendrerit, Pellentesque habitant morbi tristique senectus?</p>
        <p class="meta">Asked By: Daniel Wolf</p>
      </div>
      <div class="card">
        <p class="content">Pellentesque egestas neque sit amet, Donec interdum metus et hendrerit, Pellentesque habitant morbi tristique senectus?</p>
        <p class="meta">Asked By: Daniel Wolf</p>
      </div>
    </section>

    <section class="section-add-question hidden">
      <div class="content-wrapper"></div>
    </section>

  </div>
</div>
