<section class="content create">
  <div class="content-wrapper">


    <div class="topbar clearfix">
      <img class="spacer-sm" src="<%= img %>" alt="">
      <p class="disp-ib vertical-align va-hack">Hi, <%- name %></p>
      <a href="#"><p class="add-button spanbutton">Add Question +</p></a>
    </div>

    <ul class="questions-list">
      <li class="question-item">
        <div class="qbox disp-ib">
          <p class="question">If you were a dog, how would you protect your identity?</p>
          <!--
          question, author, created-date, votecount
          -->
          <p class="meta">By: <span class="author">Dan Wolf</span> on <span class="created-date">Apr 18, 2015</span> <span class="pipe">|</span> <span class="votecount">999 votes</span></p>
        </div>
        <div class="votebox disp-ib flt-r">
          <a href="#"><div class="vote inactive disp-ib flt-r"></div></a>
        </div>
      </li>

      <li class="question-item">
        <div class="qbox disp-ib">
          <p class="question">If you were a dog, how would you protect your identity?</p>
          <p class="meta">By: <span class="author">Dan Wolf</span> on <span class="created-date">Apr 18, 2015</span> <span class="pipe">|</span> <span class="votecount">999 votes</span></p>
        </div>
        <div class="votebox disp-ib flt-r">
          <a href="#"><div class="vote inactive disp-ib flt-r"></div></a>
        </div>
      </li>

      <li class="question-item">
        <div class="qbox disp-ib">
          <p class="question">If you were a dog, how would you protect your identity?</p>
          <p class="meta">By: <span class="author">Dan Wolf</span> on <span class="created-date">Apr 18, 2015</span> <span class="pipe">|</span> <span class="votecount">999 votes</span></p>
        </div>
        <div class="votebox disp-ib flt-r">
          <a href="#"><div class="vote inactive disp-ib flt-r"></div></a>
        </div>
      </li>
    </ul>

  </div>
</section>