<section class="content create">
  <div class="content-wrapper">

    <div class="clearfix">
      <a href="/create"><p class="add-button spanbutton">Add Question +</p></a>

    <div class="topbar clearfix">
      <img class="spacer-sm" src="<%= img %>" alt="">
      <p class="disp-ib vertical-align va-hack">Hi, <%- name %></p>
      <a href="/create"><p class="add-button spanbutton">Add Question +</p></a>
    </div>

    <ul class="questions-list">
      <% for(var i=0; i<questions.length; i++) { %>
        <% var question = JSON.parse(questions[i]) %>
        <li class="question-item">
          <div class="qbox disp-ib">
            <p class="question"><%- question.question %></p>
            <p class="meta">By: <span class="author"><%= question.name %></span> on
            <span class="created-date"><%- moment(question.created).format('MMM DD, YYYY') %></span>
            <!-- <span class="pipe">|</span> -->
            <!-- <span class="votecount">0 votes</span></p> -->
          </div>
          <!-- <div class="votebox disp-ib flt-r"> -->
            <!-- <a href="#" class="vote-button" data-member="<% i %>"> -->
               <!-- <div class="vote inactive disp-ib flt-r"></div> -->
            <!-- </a> -->
          <!-- </div> -->
        </li>
      <% } %>
  </div>
</section>