<section class="content vote">
  <div class="content-wrapper">


    <div class="topbar">
      <img class="spacer-sm" src="<%= img %>" alt="">
      <p class="disp-ib vertical-align va-hack">Hi, <%- name %></p>
    </div>

    <p class="current-player">Current player: NAME</p>

    <ul class="questions-list">
      <li class="question-item active">
        <div class="disp-ib">
          <p class="question">Please wait for some questions.</p>
        </div>
      </li>
    </ul>

  </div>

</section>