<ul class="questions-list">
  <li class="question-item">
    <div class="qbox disp-ib">
      <p class="question">If you were a dog, how would you protect your identity?</p>
      <!--
      question, author, created-date, votecount
      -->
    </div>
    <div class="votebox disp-ib flt-r">
      <a href="#"><div class="vote inactive disp-ib flt-r"></div></a>
    </div>
  </li>

  <li class="question-item">
    <div class="qbox disp-ib">
      <p class="question">If you were a dog, how would you protect your identity?</p>
    </div>
    <div class="votebox disp-ib flt-r">
      <a href="#"><div class="vote inactive disp-ib flt-r"></div></a>
    </div>
  </li>

  <li class="question-item">
    <div class="qbox disp-ib">
      <p class="question">If you were a dog, how would you protect your identity?</p>
    </div>
    <div class="votebox disp-ib flt-r">
      <a href="#"><div class="vote inactive disp-ib flt-r"></div></a>
    </div>
  </li>
</ul>