<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>The Question Game</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header>
    <h1><a href="/">Askly</a></h1>
  </header>

  <%- body %>

  <footer>Made by Dan Wolf 🐺 and Dan Cortes 💩</footer>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/scripts/socket.io.js"></script>
  <% if (typeof name !== 'undefined') {%>
  <script>
    var USERNAME = '<%- name %>',
        USERIMG = '<%- img %>';
  </script>
  <% } %>
  <% if (typeof reqUrl !== 'undefined') { %>
    <% if (reqUrl == '/admin') { %>
    <script src="scripts/admin.js"></script>
    <% } else if (reqUrl == '/vote') { %>
    <script src="scripts/vote.js"></script>
    <% } %>
  <% } %>
  <script>
    $(document).ready(function(){
      var h = $('header').outerHeight() + $('footer').outerHeight();
      $('.main-wrapper').css('min-height', 'calc(100vh - ' + h + 'px)')
    });
  </script>
</body>
</html>
