<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Question Game</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
          <div class="header-wrap disp-tbl">
            <h1 class="disp-tbl-mid">The Question Game</h1>
            <p class="logout disp-tbl-mid txt-r"><a href="javascript:;">Logout</a></p>
          </div>
        </header>
        <%- body %>
        <footer>
            <p class="vertical-align">Lovingly created by Dan Wolf and Dan Cortes &#10084;</p>
        </footer>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/socket.io.js"></script>
        <% if (typeof name !== 'undefined') {%>
            <script>
                var USERNAME = '<%- name %>',
                    USERIMG = '<%- img %>';
            </script>
        <% } %>
        <script src="/scripts/app.js"></script>
    </body>
</html>