<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Question Game</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <%- body %>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/scripts/socket.io.js"></script>
        <% if (typeof name !== 'undefined') {%>
            <script>
                var USERNAME = '<%- name %>',
                    USERIMG = '<%- img %>';
            </script>
        <% } %>
        <script src="/scripts/app.js"></script>
    </body>
</html>