.current-player {
  @include clearfix;
  @include shadow;
  background-color: $color-primary;
  position: relative;

  .name {
    bottom: 0;
    color: $font-white;
    padding: 1em 2em;
    position: absolute;
    width: 50%;

    p {
      font-size: 1.2em;
    }

    span {
      font-size: 1.8em;
    }
  }

  .avatar-wrapper {
    float: right;
    width: 50%;
  }

  .avatar {
    padding-bottom: 55%;
    overflow: hidden;
    position: relative;

    img {
      left: 0;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;
    }
  }
}
