// fonts
h1, h2, h3, h4, h5 {
  font-family: $header-font-stack;
}
p, a, blockquote {
  font-family: $base-font-stack;
}
h1 {
  font-size: 1.6em;
  font-weight: lighter;
  color: #d0d0d0;
}

// objects
.clearfix {
  @include clearfix;
}
.disp-tbl {
  display: table;
}
.disp-tbl-mid {
  display: table-cell;
  vertical-align: middle;
}
.disp-ib {
  display: inline-block;
}
.txt-r {
  text-align: right;
}
.flt-r {
  float: right;
}
.spanbutton {
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: #E06363;

  &:hover {
    background-color: #C75A5B;
  }
}

// body
body {
  background-color: #E6E6E6;
}

// header
header {
  padding: 20px 10px;
  background-color: #464648;

  a {
    font-weight: lighter;
    text-decoration: none;
    color: #d0d0d0;

    &:hover {
      text-decoration: underline;
      color: white;
    }
  }
}
.header-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

// content section
.content {
  padding: 10px;
}
.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

//add some Qs, bro
.add-button {
  float: right;
}

// here come the questions
.questions-list {
  max-width: 900px;
  margin: 0 auto;
}

// here starts a single question item
.question-item {
  padding: 20px 30px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: white;
}
.qbox {
  width: 85%;
}
.question {
  margin-bottom: 10px;
  font-size: 1.2em;
}
.votebox {

}
.vote {
  width: 34px;
  height: 38px;

  &.inactive {
    background-image: url(../assets/inactive.png);
  }
  &.active {
    background-image: url(../assets/active.png);
  }
}

.meta {
  font-size: 0.8em;
  color: #999999;
  // space out the pipe in the question meta
  .pipe {
    margin: 0 5px;
  }
}









