// fonts
h1, h2, h3, h4, h5 {
  font-family: $header-font-stack;
}
p, a, blockquote, span {
  font-family: $base-font-stack;
}
h1 {
  font-size: 1.6em;
  font-weight: lighter;
  color: #d0d0d0;
}
h2 {
  margin: 20px 0 10px;
  font-size: 1.2em;
  color: #373737;
}

// objects
.clearfix {
  @include clearfix;
}
.vertical-align {
  @include vertical-align;
}
.disp-tbl {
  display: table;
}
.disp-tbl-mid {
  display: table-cell;
  vertical-align: middle;
}
.disp-ib {
  display: inline-block;
}
.txt-r {
  text-align: right;
}
.flt-r {
  float: right;
}
.spanbutton, button {
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  min-width: 140px;
  color: white;
  background-color: #E06363;

  &:hover {
    background-color: #C75A5B;
  }
}
.spacer-sm {
  margin: 0 5px;
}

// body
body {
  background-color: #E6E6E6;
}

// header
header {
  height: 66px;
  padding: 20px 10px;
  background-color: #464648;

  a {
    font-weight: lighter;
    text-decoration: none;
    color: #d0d0d0;

    &:hover {
      text-decoration: underline;
      color: white;
    }
  }
}
.header-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

// content section
.content {
  padding: 10px;
  // min height is screen minus header and footer
  min-height: calc(100vh - 116px);
}
.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

// topbar
.topbar {
  img {
    width: 50px;
    border-radius: 50%;
  }
}

// here come the questions
.questions-list {
  max-width: 900px;
  margin: 0 auto;
}

// here starts a single question item
.question-item {
  padding: 20px 30px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: white;
}
.qbox {
  width: 85%;
}
.question {
  font-size: 1.2em;
}
.upvote {
  width: 34px;
  height: 38px;

  &.inactive {
    background-image: url(../assets/inactive.png);
  }
  &.active {
    background-image: url(../assets/active.png);
  }
}
.meta {
  margin-top: 10px;
  font-size: 0.8em;
  color: #999999;
  // space out the pipe in the question meta
  .pipe {
    margin: 0 5px;
  }
}

// let's style the create screen
.create {
  label {
    display: none;
  }
  textarea {
    width: 100%;
  }
  .danger-message {
    display: block;
    margin: 10px 0;
    color: red;
  }
}

// let's style the play session
.vote {
  a {
    color: black;
  }
  .active {
    border: 2px solid #3BBBB1;
  }
}

// footer
footer {
  height: 50px;
  text-align: center;
  font-size: 0.8em;
  font-weight: lighter;
  color: white;
  background-color: #464648;
}

.question-item {
  cursor: pointer
}