body {
  background-color: $color-primary-light;
  color: $font-black;
  font-size: 20px;
  font-family: $sans-serif;
}

header {
  background-color: $color-primary-dark;

  h1 {
    color: $white;
    font-size: 1.2em;

    a {
      display: inline-block;
      padding: 1.2em;
    }
  }
}

p {
  line-height: 1.2;
}

.sizer {
  margin: 0 auto;
  max-width: 920px;
  width: 100%;
}

.main-wrapper {
  box-sizing: content-box;
  padding: 0 0.5em;
}

.hello {
  font-weight: lighter;
  margin: 0.5em auto;
  text-align: right;

  strong {
    font-weight: bold;
  }
}
