// fonts
h1, h2, h3, h4, h5 {
  font-family: $header-font-stack;
}
p, a, ul, li, blockquote, span {
  font-family: $base-font-stack;
}
h1 {
  font-size: 1.6em;
  font-weight: lighter;
  color: #d0d0d0;
}
h2 {
  margin: 20px 0 10px;
  font-size: 1.2em;
  color: #373737;
}
a {
  text-decoration: none;
}
strong {
  font-weight: bold;
}

// objects
.clearfix {
  @include clearfix;
}
.vertical-align {
  @include vertical-align;
}
.disp-tbl {
  display: table;
}
.disp-tbl-mid {
  display: table-cell;
  vertical-align: middle;
}
.disp-ib {
  display: inline-block;
}
.txt-r {
  text-align: right;
}
.flt-r {
  float: right;
}
.spanbutton, button {
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  min-width: 140px;
  color: white;
  background-color: #E06363;

  &:hover {
    background-color: #C75A5B;
  }
}
.spacer-sm {
  margin: 0 5px;
}

// body
body {
  background-color: #E6E6E6;
}

// header
header {
  height: 66px;
  padding: 20px 10px;
  background-color: #464648;

  a {
    font-weight: lighter;
    color: #d0d0d0;

    &:hover {
      color: white;
    }
  }
}
.header-wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
}

// content section
.content {
  padding: 10px;
  // min height is screen minus header and footer
  min-height: calc(100vh - 116px);
}
.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

// topbar
.topbar {
  img {
    width: 50px;
    border-radius: 50%;
  }
}

// here come the questions
.questions-list {
  max-width: 900px;
  margin: 0 auto;
}

// here starts a single question item
li {
  padding: 20px 30px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: white;
}
.qbox {
  width: 85%;
}
.question {
  font-size: 1.2em;
}
.upvote {
  width: 34px;
  height: 38px;

  &.inactive {
    background-image: url(../assets/inactive.png);
  }
  &.active {
    background-image: url(../assets/active.png);
  }
}
.meta {
  margin-top: 10px;
  font-size: 0.8em;
  color: #999999;
  // space out the pipe in the question meta
  .pipe {
    margin: 0 5px;
  }
}

// let's style the create screen
.create {
  label {
    display: none;
  }
  textarea {
    width: 100%;
  }
  .danger-message {
    display: block;
    margin: 10px 0;
    color: red;
  }
}

// let's style the play session
.vote {
  a {
    color: black;
  }
  li {
    border: 2px solid white;
  }
  .active {
    border: 2px solid #3BBBB1;
  }
}

// let's style the homepage
.index {
  padding-top: 0;

  .hero {
    padding: 20px 40px;
    background-color: white;
    @include bp-small {
      padding: 20px;
    }
  }

  h2 {
    font-size: 1.8em;
    color: #3BBBB1;
  }

  p {
    font-size: 1.2em;
    line-height: 1.4em;
    max-width: 440px;
    color: #373737;
    @include bp-small {
      font-size: 1em;
    }
  }

  .links {
    text-align: center;
    font-weight: bold;

    a {
      display:block;
      padding: 20px 30px;
      margin: 10px 0;
      border-radius: 5px;
      background-color: #464648;
      color: white;
    }
    li {
      padding: 0;
      background-color: #464648;
    }
  }
}

// let's style the admin

.admin {
  .join-url {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .user {
    text-align: center;
    img {
      width: 300px;
      border-radius: 50%;
    }
    span {
      font-size: 2em;
      font-weight: bold;
    }
  }
  .spanbutton {
    text-align: center;
    margin-top: 10px;
  }
}

// footer
footer {
  height: 50px;
  text-align: center;
  font-size: 0.8em;
  font-weight: lighter;
  color: white;
  background-color: #464648;
}

.question-item {
  cursor: pointer
}