.card {
  @include shadow;
  background-color: $white;
  margin-bottom: 0.5em;
  padding: 1em;

  .content {
    margin-bottom: 0.5em;
  }

  .meta {
    @include lighten;
    font-size: 0.7em;
    font-weight: bold;
  }

  &.selected {
    background-color: $color-primary;
    color: $white;
    transition: all 0.1s;
  }
}
