// FONTS
$roboto-light: "Roboto Light", sans-serif;
$roboto-medium: "Roboto Medium", sans-serif;

// COLORS
$dark-blue: #37474F;
$white: #FFFFFF;
$white-highlight: rgba(255, 255, 255, 0.6);
$black: #000000;
$black-highlight: rgba(0, 0, 0, 0.6);
$button-highlight-red: #F44336;